:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  opacity: 1;
}

h2 {
  margin: 0;
  font-size: 1.2em;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 240px;
  max-height: calc(100vh - 37px);
  overflow-y: auto;
  padding: 7px 10px 10px 10px;
  background-color: hsl(0 0% 100% / 0.8);
  color: hsl(0 0% 10% / 1);
  border-radius: 5px;
}

.location-row {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-content {
  max-width: 100%;
  min-width: 0;

}

.location-content > * {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.location-primary {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
.location-secondary {
  font-size: 0.85em;
  color: hsl(0 0% 40%);
}

.location-buttons {
  margin-left: 3px;
  display: none;
}

.location-row:hover .location-buttons {
  display: block;
}

#output-container {
  margin-top: 0.8em;
}

.location-button {
  width: 0.8em;
}

.location-button:hover {
  color: blue;
}

.location-popup {
  width: 220px;
}

.location-popup .location-primary {
  font-size: 1.15em;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.location-popup-distance-header {
  margin: 0;
  margin-top: 8px;
}

.location-popup-distance {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}

.location-popup-distance-location {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location-popup-distance-value {
  margin-left: 0.7em;
}

.location-popup-buttons {
  margin-top: 7px;
  text-align: right;
}

.location-popup-button {
	padding: 0 8px;
	border: 1px solid hsl(var(--button-hue) 50% 75%);
	border-radius: 5px;
	background: hsl(var(--button-hue) 30% 95%);
}

.location-popup-button:hover, .location-popup-button:active {
  background: hsl(var(--button-hue) 30% 97%);
}

.location-popup-button-add {
  --button-hue: 120;
}
.location-popup-button-remove {
  --button-hue: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}

.hide {
  display: none;
}

.mapboxgl-popup-close-button {
  width: 20px;
  line-height: 20px;
  font-size: 1.3em;
}

@media screen and (max-width: 639px) {
  #drawer {
    display: none;
  }
}
